.App {
  text-align: center;
  font-family: Helvetica;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: steelblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 80px;
  color: white;
  width: 100%;
  white-space: nowrap;
}

.item {
  margin-left: 20px;
  font-size: 33px;
  height: 50px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: rgb(221, 219, 219);
}

.logo {
  max-width: 70px;
  margin-top: -15px;
}

.projectPic {
  height: 300px;
  margin: 0 auto 2vh auto;
}

h2 {
  color: #272c33;
  max-width: 33%;
  border-bottom: 5px solid #3f4652;
  margin: 0 auto 2vh auto;
}

p {
  max-width: 33%;
  text-align: center;
  margin: 0 auto 1vh auto;
  font-size: 18px;
}

.centered {
  margin-left:  auto;
  margin-right: auto;
  text-align: left;
  width: 15em;
  white-space: nowrap;

}

ul {
  list-style-position: inside;
  list-style-type: none;
}

.title {
  font-weight: bold;
  font-size: 20px;
}

.year {
  color: #9a9a9a;
}

.edu {
  margin: 0 auto;
}

.skills {
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  padding-left: 24px;
}

article {
  margin-bottom: 30px;
}

.wrapper {
  min-height: calc(100vh - 180px);
}

.footer {
  height: 80px;
  background: grey;
}

.footer h2 {
  color: white;
  margin: 0 auto;
  padding-top: 5px;
}

.end {
  height: 80px;
}

#hamburger-menu {
  display: none;
  background-color: black;
  height: 80px;
  color: white;
  width: 100%;
  white-space: nowrap;
}


.hamburger-items li {
  list-style: none;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.h-container {
  padding-top: 18px;
}

#nav-icon1 span {
  display: block;
  margin: 8px 8px 0 8px;
  height: 4px;
  width: 45px;
  background: white;
  border-radius: 9px;
  cursor:pointer; 
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-menu1:checked ~ #nav-icon1 span:nth-child(1){
  -webkit-transform: rotate(135deg) translate(19px,-13px);
  -moz-transform: rotate(135deg) translate(19px,-13px);
  -o-transform: rotate(135deg) translate(19px,-13px);
  transform: rotate(135deg) translate(19px,-13px);
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(2){
   opacity: 0;
}
#nav-menu1:checked ~ #nav-icon1 span:nth-child(3){
  -webkit-transform: rotate(-135deg) translate(3px);
  -moz-transform: rotate(-135deg) translate(3px);
  -o-transform: rotate(-135deg) translate(3px);
  transform: rotate(-135deg) translate(3px);
}

input[type="checkbox"]{
  display:none;
}

 /* Mobile Rendering below 750px */
 @media only screen and (max-width: 749px) {
  #main-menu {
    display: none;
  }

  #hamburger-menu {
    display: block;
  }
 }

 